<form action="/" method="post">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.name.label(for='name') }}
        {{ form.name(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.reply_to.label(for='reply_to') }}
        {{ form.reply_to(class='form-control') }}
    </div>
    <div class="form-group">
        {{ form.message.label(for='message') }}
        {{ form.message(class='form-control') }}
    </div>
    {{ form.submit(class='btn btn-primary') }}
</form>