<div class="col-md-4">
    <h2>Forex</h2>
    <p> <strong>1 {{ currency_from }}</strong> = <strong>{{ currency_to }} {{ rate }}</strong></p>
    <form action="/" method="get">
        <div class="input-group">
            <select class="form-control" name="currency_from">
                {% for curr in currencies %}
                <option value="{{ curr }}" {{ 'selected' if curr == currency_from }}>{{ curr }}</option>
                {% endfor %}
            </select>
            <select class="form-control"  name="currency_to">
                {% for curr in currencies %}
                <option value="{{ curr }}" {{ 'selected' if curr == currency_to }}>{{ curr }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>