
<nav class="navbar fixed-top navbar-toggleable-sm">
    <div class="container">
        <a class="navbar-brand" href="#">Headlines</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon fa fa-bars fa-lg"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                <li><a class="nav-link" href="{{ url_for('code') }}">Code</a></li>
                <li><a class="nav-link" href="{{ url_for('about') }}">About</a></li>
            </ul>
        </div>
    </div>
</nav>

