<div class="col-md-4">                 
    <h2>News Source</h2>
    <p><strong>{{ source.upper() }}</strong></p>
    <form action="/" method="get">
        <div class="input-group">
            <select class="form-control" name="source">
                {% for current_source in SOURCES %}
                <option value="{{ current_source }}" {{ 'selected' if current_source == source }}>{{ current_source.upper() }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-primary" type="submit" value="Change">
        </div>
    </form>
</div>