{% extends "layout.html" %}

{% block title %} {{ source.upper() }} {% endblock %}

{% block body %}

<h1>{{ source.upper() }} Headlines</h1>


<!-- WEATHER SEARCH & DATA -->
<hr>

<h2>Current Weather</h2>
<p>City: <strong>{{ weather.city }}, {{ weather.country }}</strong></p>
<p><strong>{{ weather.temperature }}&#8457</strong> | <em>{{ weather.description }}</em> </p>

<form action="/" method="get">
    <input type="text" name="city" placeholder="Current City (ex. London)" required>
    <input type="submit" value="Search">
</form>

<hr>


<!-- FOREX SEARCH & DATA -->

<h2>Forex</h2>
<p> 1 {{ currency_from }} = {{ currency_to }} {{ rate }}</p>

<form action="/" method="get">
    <select name="currency_from">
        {% for curr in currencies %}
        <option value="{{ curr }}" {{ 'selected' if curr == currency_from }}>{{ curr }}</option>
        {% endfor %}
    </select>
    <select name="currency_to">
        {% for curr in currencies %}
        <option value="{{ curr }}" {{ 'selected' if curr == currency_to }}>{{ curr }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>

<hr>


<!-- NEWS SEARCH -->

<h2>Search News Sources</h2>
<form action="/" method="get">
    <input type="text" name="source" placeholder="News Source (ex: cnn, bbc)" required>
    <input type="submit" value="Search">
</form>

<hr>


<!-- NEWS DATA -->

{% for article in articles %}
<div>
    <strong><a href="{{ article.url }}" target="_blank">{{ article.title or 'No Title' }}</a></strong> <br>
    {% if article.urlToImage %}
    <img src="{{ article.urlToImage }}" alt="{{ article.description }}"> <br>
    {% endif %}
    <em>{{ article.publishedAt  or 'No Publishing Date' }}</em> <br>
    <p>{{ article.description   or 'No Summary' }}</p>
    <hr>
</div>
{% endfor %}

{% endblock %}