{% extends "layout.html" %}

{% block title %} {{ source.upper() }} {% endblock %}

{% block body %}

<h1>{{ source.upper() }} Headlines</h1>

<hr>

<h2>Current Weather</h2>
<p>City: <strong>{{ weather.city }}, {{ weather.country }}</strong></p>
<p><strong>{{ weather.temperature }}&#8457</strong> | <em>{{ weather.description }}</em> </p>

<form action="/" method="get">
    <input type="text" name="city" placeholder="Current City (ex. London)" required>
    <input type="submit" value="Search">
</form>

<hr>

<h2>Search News Sources</h2>
<form action="/" method="get">
    <input type="text" name="source" placeholder="News Source (ex: cnn, bbc)" required>
    <input type="submit" value="Search">
</form>

<hr>

{% for article in articles %}
<div>
    <strong><a href="{{ article.url }}" target="_blank">{{ article.title or 'No Title' }}</a></strong> <br>
    {% if article.urlToImage %}
    <img src="{{ article.urlToImage }}" alt="{{ article.description }}"> <br>
    {% endif %}
    <em>{{ article.publishedAt  or 'No Publishing Date' }}</em> <br>
    <p>{{ article.description   or 'No Summary' }}</p>
    <hr>
</div>
{% endfor %}

{% endblock %}