body {
    background-color: #eaf1f1;
    font-family: 'Istok Web', sans-serif;
    line-height: 1.6;
    padding-top: 50px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
    letter-spacing: 2px;
}

.card {
    min-height: 650px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5%;
    padding: 20px;
}

.article-image {
    min-height: 300px;
    max-height: 350px;
    border-radius: 5%;
    margin-bottom: 20px;
}

.jumbotron {
    color: white;
    background-color: #141d27;
}

h1 {
    font-weight: bolder;
}

.navbar {
    letter-spacing: 1.5px;
    background-color: #141d27;
}

.navbar-toggler-icon {
    color: white;
}

.text-justify {
    text-align-last: center;
}

@media (max-width: 600px) {
    .jumbotron .col-md-4 {
        margin-bottom: 30px;
    }
}

footer.navbar {
    margin-top: 30px;    
    background-color: #4E5D6C;
    padding-top: 30px;
    font-size: 18px;
    color: white;
    font-family: 'Lora', serif;
}