.col-md-4 .card {
    min-height: 650px;
    margin-bottom: 100px;
}

.article-image {
    min-height: 300px;
    max-height: 350px;
}

.jumbotron {
    color: white;
    background-color: #141d27;
}

h1 {
    font-weight: bolder;
}